body {
  padding: 0;
  margin: 0;
  background-color: #000036;
}

.wrapper {
  color: white;
  font-family: "Ruluko", sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.main {
  width: 600px;
  margin: auto;
  font-size: 1.5rem;
}

.main img {
  width: 100%;
}

.main > * {
  margin: 1rem 0;
}

/*  */

.bio {
  display: none;
}

a {
  color: white;
  font-size: 1.7rem;
}

a i {
  margin: 0 0.5rem;
}

a i:hover{
  color: #BB2B2B;
}

.status {
  display: inline-block;
  margin: 0 auto;
  color: white;
  position: relative;
  overflow: hidden;
  width: 240px;
  margin-bottom: 2rem;
  border-left: solid white 2px;
  background-color: rgba(255,255,255, 0.1);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.carousel {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.carousel div {
  flex: 0 0 200px;
  width: 200px;
  padding: 0 20px;
}

.status:before {
  display: block;
  content: '';
  width: 100%;
}

footer {
  margin: auto;
  color: white;
  width: 600px;
  padding: 0 0 2rem;
  font-size: 14px;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
}


.about-title, .projects-title {
    font-size: 24px;
    letter-spacing: 2pt;
    display: inline-block;
    line-height: 4rem;
    border-bottom: solid 2px white;
    margin: 3rem 0 2rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.about-title span, .projects-title span{
    color: #4848a4;
}

ul, li {
    padding: 0;
    margin: 0;
}

.about, .projects {
    font-family: 'Ruluko', sans-serif;
    color: white;
    width: 600px;
    margin: auto;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.about-item {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    min-height: 64px;
}

.about-item-left {
    position: relative;
    width: 25%;
    flex-grow: 1;
    display: flex;
}

.about-item-left > div {
    width: 50%;
}

.about-item-left div:nth-of-type(2){
    width: 50%;
    background-color: rgba(255,255,255,0.1);
}


.about-item-left > img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.main .button {
    margin: 0 0.25rem;
}

.button {
    text-decoration: none;
    font-size: 1rem;
    border: 0;
    background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(255,255,255,0.2);
}

.about-item-right {
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 0rem;
    flex-grow: 3;
    background-color: rgba(255, 255, 255, 0.1);
    width: 75%;
}

.project-item {
    width: 100%;
    font-size: 1.2rem;
    border: 1pt solid #4848a4;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 1.25rem 0;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-wrap: wrap;
}

.project-item-img {
   width: 200px;
   min-height: 100px;
   margin: 0 1rem 0 0;
   background-size: cover;
   border-radius: 10px;
   background-repeat: no-repeat;
   transition: 1s all ease;
   display: block;
   flex: 1;
}

.project-item-content {
    flex: 1;
}

.project-item-img:hover {
  cursor: pointer;
  background-position: center top;
  background-size: 150%;
}

.project-item-link a {
    font-size: 1.2rem;
    margin: 0 0.5rem 0 0;
}

.project-item-title {
    font-size: 2rem;
    letter-spacing: 1pt;
    margin: 0.5rem 0;
    font-weight: bold;
}

.project-item-title a {
    text-decoration: none;
}

.project-item-tag {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #4848a4;
    border-radius: 8px;
    margin: 0.25rem 4pt 0.25rem 0;
}

.project-item-tags {
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px){
  .main, .about, .projects, footer {
    width: 480px;
  }
  .about-title {
    font-size: 2rem;
  }
  .about-item {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px){
   .project-item-img {
    width: 100%;
    margin: 0;
    display: block;
    transition: 1s all ease;
    position: relative;
    background-size: 100%;
    flex: none;
   }
  .project-item-img:hover {
    height: 200px;
    cursor: pointer;
  }
  .main, .about, .projects, footer {
    width: 100%;
  }
  .main img{
    width: 240px
  }
}
