body {
  padding: 0;
  margin: 0;
  background-color: #000036;
}

.wrapper {
  color: white;
  font-family: "Ruluko", sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.main {
  width: 600px;
  margin: auto;
  font-size: 1.5rem;
}

.main img {
  width: 100%;
}

.main > * {
  margin: 1rem 0;
}

/*  */

.bio {
  display: none;
}

a {
  color: white;
  font-size: 1.7rem;
}

a i {
  margin: 0 0.5rem;
}

a i:hover{
  color: red;
}

.status {
  display: inline-block;
  margin: 0 auto;
  color: white;
  position: relative;
  overflow: hidden;
  width: 240px;
  margin-bottom: 2rem;
  border-left: solid white 2px;
  background-color: rgba(255,255,255, 0.1);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.carousel {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.carousel div {
  flex: 0 0 200px;
  width: 200px;
  padding: 0 20px;
}

.status:before {
  display: block;
  content: '';
  width: 100%;
}

footer {
  font-size: 12px;
}


@media screen and (width < 600px){
  .main {
    width: 480px;
  }
}

@media screen and (width < 480px){
  .main {
    width: 100%;
  }
  .main img{
    width: 240px
  }
}
