body {
  padding: 0;
  margin: 0;
  background-color: #000036;
}

.wrapper {
  color: white;
  font-family: "Ruluko", sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.main {
  width: 300px;
  margin: auto;
  font-size: 1.2rem;
}

.main img {
  width: 100%;
}

.main > * {
  margin: 1rem 0;
}

/*  */

.bio {
  display: none;
}

a {
  color: white;
  font-size: 1.5rem;
}

a i {
  margin: 0 0.5rem;
}

a i:hover{
  color: red;
}

.status {
  display: inline-block;
  margin: 0 auto;
  color: #A5A5A5;
}

.status:after {
  display: block;
  content: '';
  width: 100%;
  margin: 0.25rem 0 0.5rem;
  border: 1pt dashed #A5A5A5;
}

footer {
  font-size: 12px;
}

@media screen and (width < 480px){
  .main img{
    width: 240px
  }
}