body{
    margin: 0;
    background-color: #7315D7;
    font-family: Oswald;
    color: white;
    text-transform: uppercase;
}

#wrapperTimer{
    width: 100%;
    padding: 0rem 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 2rem 0rem;
}

#wrapperTimer:before, #wrapperTimer:after{
    margin: 1rem 0;
    width: 100%;
    display: block;
    content: '';
    background-color: white;
    height: 2px;
}

.faltam{
    font-size: 1.7em;
    text-align: center;
}

.main{
    background-color: #310760;
    font-size: 15px;
    width: 50%;
    padding: 0.5rem 0rem 0.5rem 2rem;
}
.wrapperSub{
    width: 100%;
    padding: 0 2rem 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.submain{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1.2rem 0rem 1.2rem 2rem;
    background-color: #4F0C9B;
    font-size: 13px;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.55);
            box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.55);
}

#by{
    text-transform: lowercase;
    font-family: Pacifico;
    position: relative;
    display: block;
    width: 190px;
    text-align: center;
    line-height: 2.2em;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("Path.svg");
    margin: auto;
}

.relogin{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.relogin .lbl{
    text-transform: capitalize;
    font-size: 0.25em;
}

.relogin .bt{
    font-size: 3em;
}
.relogin .bt .lbl{
    margin: auto;
    text-align: center;
}

.relogin .spt{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #AB91FF;
}

@media (min-width: 480px){
    .wrapperSub{
        width: 100%;
        padding: 0 2rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .main{
        background-color: #310760;
        font-size: 20px;
        width: 50%;
        
    }
    .submain{        
        font-size: 15px;
        -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25);
                box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.25);
    }
    .wrapperMain{
        padding: 1.5rem 2rem 0 2rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .main{
        width: 100%;
        padding: 0.5rem 2rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .relogin .bt{
        font-size: 4.5em;
    }
    .faltam{
        font-size: 3em;
    }
}

@media (min-width: 640px){
    .superWrapper{
        width: 600px;
        margin: auto;
    }
}