body {
    margin: 0;
    background-color: #603333;
}

.title {
    font-weight: bolder;
    color: #441010;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1rem 1rem;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Oswald, Fantasy;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff6633;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s;
    border-bottom: 0.25rem #782200 solid;
}

.subtitle {
    width: 100%;
    text-align: center;
    font-family: Oswald;
    color: white;
    padding: 1rem 0rem;
    color: #ffd2d2;
}

.bt {
    width: 25%;
    color: #ff6633;
    text-align: center;
    font-family: Oswald, Arvo, fantasy;
}

.bt .sub {
    font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.2em;
}

.bt .ctn {
    font-size: 8em;
    padding: 0rem;
    margin: 0rem;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .bt .ctn {
        font-size: 10em;
    }
    .bt .sub {
        font-size: 2em;
    }
    .title {
        font-size: 2.2em;
    }
    .container{
        width: 90%;
    }
}

@media (max-width: 720px) {
    .bt {
        width: 50%;
    }
    .bt .ctn {
        font-size: 10em;
    }
    .bt .sub {
        font-size: 2em;
    }
    .title {
        font-size: 2.2em;
    }
    .container{
        width: 90%;
    }
}

@media (max-width: 480px) {
    .bt .ctn {
        font-size: 6em;
    }
    .bt .sub {
        font-size: 1.5em;
    }
    .container{
        width: 100%;
    }
}
